[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "vendor/GLM"]
	path = vendor/GLM
	url = https://github.com/g-truc/glm.git
[submodule "vendor/Vulkan-ValidationLayers"]
	path = vendor/Vulkan-ValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git